[Network]
NetworkName=distrobox-external_network
Driver=bridge
IPv6=false
Options=isolate=true
Internal=false

NetworkDeleteOnStop=true

[Install]
WantedBy=default.target
